body{background-color: #f5f5f5;}
.container-fluid{padding-left: 20px;padding-right: 20px;}
.row{margin-left: -20px;margin-right: -20px;}
.row [class*="col-"]{padding-left: 20px;padding-right: 20px;}

.visa-list-item{margin-top: 15px;padding: 15px 0;background-color: #fff;}
.info-title{position:relative;display:inline-block;margin: 20px 0 10px;font-size: 18px;font-weight: bold;}
/*.tab-identity .info-title:before{position:absolute;bottom:-15px;content:"";width:15px;height:0px;border-bottom:3px solid #FC6E50;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}*/
.info-content {margin-bottom: 0;}
.info-content:last-child dd{border-bottom: 0;}
.info-content dt{padding-top: 20px;padding-right: 90px;text-align: left;overflow: normal;white-space: normal;font-size: 16px;}
.info-content dd{position: relative;padding: 10px 0 20px;min-height: 34px;border-bottom: 1px solid #E6E9ED;color: #656D78;}
.info-content dd .btn{position: absolute;right: 0;top: -21px;padding: 2px 10px;font-size: 12px;}
.info-content dd ul{padding-left: 18px;}
.info-content .star{color: #FC6E50;}
.info-content-tips{padding-top:15px;}
.info-content-tips em{font-style: normal;color: #FC6E50;}

.btn-send{background-color: transparent;border: 1px solid #FC6E50;color: #FC6E50;margin: 20px 0;}
.btn-send:hover{background-color: #FC6E50;color: #fff;}
@media (min-width:768px){
	.info-content{border-bottom: 1px solid #E6E9ED;}
	.info-content:last-child{border-bottom: 0;}
	.info-content dt{position: relative;padding-left: 10px;padding-right: 0;}
	.info-content dd{padding:20px 20% 20px 0;border-bottom:0;}
	.info-content dd .btn{display: inline-block;position: absolute;right: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);margin-top: 0;width: auto;padding: 6px 15px;}
	.info-content .star{position: absolute;left: 0;top: 22px;}
	.file-name-list li{width:50%;}
}
.form-inline .form-control{width: 100%}
.form-inline .form-group{display: inline-block;margin-bottom: 0;vertical-align: middle;padding-left: 0;padding-right: 0;}
.form-inline .btn-primary{font-size:14px !important;}