/* 首页样式 */
body{background-color: #F7F7F7;}
.container-fluid{padding-left: 10px;padding-right: 10px;}
/*.container-fluid .container{padding-left:0;padding-right:0;}*/
.row{margin-left: -10px;margin-right: -10px;}
.row [class*="col-"]{padding-left: 10px;padding-right: 10px;}
@media (min-width:768px){
	.container-fluid{padding-left: 20px;padding-right: 20px;}
	.container-fluid .container{padding-left:20px;padding-right:20px;}
	.row{margin-left: -20px;margin-right: -20px;}
	.row [class*="col-"]{padding-left: 20px;padding-right: 20px;}
}
.container.mod{background-color: #fff;border-radius: 5px;}
.visa-title{padding: 15px;font-size: 22px;color: #5369E3}
.visa-title p{font-size: 14px;margin-bottom: 0;}
.mod-title{margin: 15px 0;}
.mod-item{}
.mod-item .list-group{margin: 10px 0;}
.mod-item .list-group-item{border-color: #F5F7FA}
.mod-item .list-group-item.item-title{color: #AAB2BD}
.mod-item .list-group-item .input-group{margin: -10px -15px;}
.mod-item .list-group-item .input-group input, .mod-item .list-group-item .input-group select, .mod-item .list-group-item .input-group .btn, .mod-item .list-group-item .input-group .input-group-addon{height: 50px;padding: 6px 15px;border: none;box-shadow: none;border-radius: 0;background-color: transparent}
.mod-item .list-group-item .input-group textarea{padding: 6px 15px;border: none;box-shadow: none;border-radius: 0;background-color: transparent}
.mod-item .list-group-item .input-group select{-webkit-appearance: none;}
.mod-item .list-group-item .input-group .input-group-addon.gray{color: #AAB2BD}
.mod-item .list-group-item .input-group .input-group-addon.nopa{padding-left: 0;padding-right: 0;}

.mod-item .list-group-item .input-group input:focus{border: none;outline: none;}
.list-group-item:first-child{border-top-right-radius: 6px;border-top-left-radius: 6px}
.list-group-item:last-child{border-bottom-right-radius: 6px;border-bottom-left-radius: 6px}
.iconfont.f18{font-size: 18px!important}
.mod-item .list-group-item .iconfont{color: #AAB2BD;}
.icon-danger{color: #FC6E50!important}
.btn.btn-block.radius-o{padding: 8px 12px;}
.btn-ghost{color: #5369E3}
.btn-ghost.primary{border-color: #5369E3;background-color: #F5F7FA}
@media (min-width:768px){
	.mod-item .list-group{margin: 20px 0;border: 0;box-shadow: 0 .5px 0 0 rgba(0,0,0,0.05);}
}

.order-list h5{margin-top: 3px;font-size: 16px;line-height: 1.2;}
.order-list .list-group-item a p{margin-bottom: 0;color: #656D78;}
.order-list .list-group-item a p .iconfont{color: #AAB2BD!important;}
.order-list .list-group-item a p em{font-style: normal;color: #AAB2BD;margin-left: 15px;}
.order-list .list-group-item .text-item{line-height: 30px;}
.order-list .list-group-item .btn-item{text-align: right;}
.order-list .list-group-item .btn-item .btn{border: 1px solid #E6E9ED;color: #AAB2BD}
.order-list .list-group-item .btn-item .btn-primary{border: 1px solid #5369E3;background-color: #fff;color: #5369e3;}
.order-list .list-group-item .radius-o{padding: 4px 10px;border-width: 1px;}

.order-detail-bar{padding-top: 10px;padding-bottom: 10px;background-color: #fff;}
.order-detail-bar .order-info{color: #656D78;}

.fixed-bottom{position: fixed;bottom: 0;padding: 10px 0;width: 100%;background-color: #fff;border-top: .5px solid rgba(0,0,0,0.1);}
.row.submit-order .price{line-height: 38px;}
.row.submit-order .price em{font-style: normal;font-weight: bold;color: #5369E3;font-size: 18px;}
.pay-modal .close{position: absolute;top:3px;left:5px;height:44px;width:44px;}
.pay-modal .icon-weixinzhifu2{font-size: 120%!important;color: #1AAD19}
.pay-modal .icon-zhengque{font-size: 120%!important;color: #5369E3}
.mod-item .adress{display: block;position: relative;margin:10px 0;}
.mod-item .adress em{font-style: normal;margin-left: 30px;}
.mod-item .adress p{margin-bottom: 3px;margin-top: 3px;}