body{background-color: #f5f5f5;}
.container-fluid{padding-left: 20px;padding-right: 20px;}
.container-fluid .container{padding-left:0;padding-right:0;}
.row{margin-left: -20px;margin-right: -20px;}
.row [class*="col-"]{padding-left: 20px;padding-right: 20px;}
@media (min-width:768px){
  .container-fluid .container{padding-left:20px;padding-right:20px;}
}

.visa-show-top{position:relative;color: #fff;background-image: -webkit-linear-gradient(152deg, #24c6dc, #756ccf);background-image: linear-gradient(298deg, #24c6dc, #756ccf);}
.visa-show-top .row{padding: 20px 0;background: url(../img/map-bg.png) no-repeat top center;background-size:cover;}
@media (min-width:768px){
  .visa-show-top{padding-bottom: 80px;}
  .visa-show-top .row{background-size:50%;padding-top: 0;}
}
/*路径导航*/
.breadcrumb{padding:15px 0;background-color: transparent;margin-bottom: 0;color:#fff;text-shadow: 0 0 5px rgba(0, 0, 0, 0.6)}
.breadcrumb>.active{color: #fff;}
.breadcrumb a{color: #fff;}
/*签证名称*/
.visa-title{position: relative;text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);/*text-align: center;*/}
.visa-title .thumb{margin-top: 15px;}
.visa-title h1{margin-left: -4px;margin-top: 20px;margin-bottom: 20px;font-size: 28px;text-align: justify;line-height: 1.2}
/*.visa-title h1 p{font-weight: 200;}*/
.visa-title .badge{background-color: rgba(0, 0, 0, 0.2);color:rgba(255, 255, 255, 0.8);padding:5px 15px;border-radius: 100px;font-weight: normal;}
/*.visa-title h2.price{font-size: 34px;margin-top: 15px;margin-bottom: 0}
.visa-title h2.price sub{font-weight: normal;bottom: 0;}
.visa-title h2.price s{font-size: 14px;}
.visa-title h2.price.smvisi{display: block;}*/
/*签证价格*/
/*.visa-title .visa-price-item{
  position: fixed;bottom: 10px;left: 50%;z-index: 1023;-webkit-transform: translateX(-50%);transform: translateX(-50%);
  height: 50px;padding: 0 0 0 15px;display: flex;justify-content: center;align-items: center;
  border-radius: 100px;box-shadow: 0 0 30px 0 rgba(0,0,0,.3);background-color: #5369E3;
}*/
.visa-title .visa-price-item .price-box{position:absolute;text-align: right;line-height: 1;right:0;bottom:84px;}
.visa-title .visa-price-item .price-box .tooltip{display: none!important;}
.visa-title .visa-price-item .price{font-size: 28px;font-weight: bold;}
.visa-title .visa-price-item .price sup{font-weight: normal;top:-0.2em;}
.visa-title .visa-price-item s{display: block;opacity: .6;padding-bottom: 5px;}
.visa-title .btn-visa-transact{position: fixed;bottom: 12px;left: 50%;z-index: 1023;-webkit-transform: translateX(-50%);transform: translateX(-50%);padding: 10px 30px;font-size: 18px;color:#fff;border-radius:100px;background-color: #5369E3;box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);}
/*签证信息*/
.visa-title .visa-data-item{font-size: 18px;display: table;padding-top: 10px;}
.visa-title .visa-data-item p{display: table-cell;width: 1%;padding-top: 20px;border-top: 1px solid rgba(0, 0, 0, 0.1);}
.visa-title .visa-data-item p:last-child{margin-right: 0;}
.visa-title .visa-data-item p em{display: block;font-style: normal;font-size :12px;}

@media (min-width:768px){
  .visa-title{text-align: left;}
  .visa-title .thumb{margin-top: 0;}
  .visa-title h2{margin-top: 20px;}
  .visa-title h2.price.smvisi{display: none;}
  .visa-title .visa-price-item{position: absolute;bottom: -10px;right: 0;transform: none;
    display: block;height: auto;padding: 0;
    text-align: right;font-weight: bold;background-color: transparent;box-shadow: none;border: 0;
  }
  .visa-title .visa-price-item .price-box{position: static;display: block;float: none;margin:0;box-shadow: none;line-height: inherit;}
  .visa-title .visa-price-item .price-box .tooltip{display: block!important;}
  .visa-title .visa-price-item .price{font-size: 38px;}
  .visa-title .visa-price-item .price sup{font-weight: normal;top:-0.2em;}
  .visa-title .visa-price-item s{font-weight: normal;padding-right: 5px;font-size: 14px;}
  /*.visa-title .btn-visa-transact{position: relative;display: inline-block;background-color: #fff;color: #5369E3;margin-top: 10px;bottom:0;padding: 10px 50px;border-radius: 100px;width: auto;text-shadow: none;font-size: 18px;box-shadow: 0 0 50px 0 rgba(0,0,0,.2);}*/
  .visa-title .visa-data-item{padding-top: 20px;}
  .visa-title .visa-data-item p{width: 20%;padding:0 20px;border-left: 1px solid rgba(0, 0, 0, 0.2);border-top:none;}
}


/*签证详情*/
/*.visa-detail{margin-top: 15px;}*/
.visa-detail-mod{position: relative;}
.visa-detail-mod .navbar-wrap{height:40px;width:100%;z-index: 1024;position: relative;display: none;}
.visa-detail-mod .detail-nav{margin-left: -20px;margin-right: -20px;/*border-bottom: 1px solid #E6E9ED;*/background-color: #fff;}
.visa-detail-mod .detail-nav .container{padding-left: 0;padding-right: 0;}
.visa-detail-mod .detail-nav.affix{position: fixed;top: 0px;left: 0;z-index: 1025;width: 100%;background-color: #fff;margin-left: 0;margin-right: 0;border-top: 1px solid #E6E9ED;border-radius: 0;box-shadow: 0 3px 3px 0 rgba(0,0,0,0.08);}
.visa-detail-mod .detail-nav .nav-pills{width: 100%;}
.visa-detail-mod .detail-nav .nav-pills>li{display: table-cell;width: 1%;float: none;text-align: center;}
.visa-detail-mod .detail-nav .nav-pills>li>a{border-radius: 0;padding:6px 0;}
.visa-detail-mod .detail-nav .nav>li>a:hover, .visa-detail-mod .detail-nav .nav>li>a:focus{padding-top: 4px;border-top: 2px solid #5369E3;background-color: transparent;color: #5369E3;}
.visa-detail-mod .detail-nav .nav-pills>li.active>a{padding-top: 4px;border-top: 2px solid #5369E3;background-color: transparent;color: #5369E3;}
.visa-detail-mod .detail-nav .nav-pills li .iconfont{display: block;font-size: 120%!important;}

.visa-detail-mod .detail-nav.affix .nav-pills li .iconfont{display: none;}
.visa-detail-mod .detail-nav.affix .nav-pills li>a{padding:12px 0;}


.detail-item .detail-item-box{margin-top:15px;}
.detail-item .detail-item-box.w1{z-index: 10}
.detail-item .detail-item-box.w2{z-index: 9}
.detail-item .detail-item-box.w3{z-index: 8}
.detail-item .detail-item-box.w4{z-index: 7}

@media (min-width:768px){
  .visa-detail-mod{margin-top: -60px;padding: 0;border-radius: 5px;box-shadow: 0 0 6px 0 rgba(0,0,0,.1);background-color: #fff;}
  .visa-detail-mod .navbar-wrap{display: block;}
  .visa-detail-mod .detail-nav{height: 60px;margin-left: 0;margin-right: 0;border-radius: 5px 5px 0 0;}
  .visa-detail-mod .detail-nav ul{}
  .visa-detail-mod .detail-nav .nav-pills>li{display: inline-block;width: 20%;}
  .visa-detail-mod .detail-nav.affix .nav-pills li .iconfont{display: block;}
  .visa-detail-mod .detail-nav.affix .nav-pills li>a{padding:6px 0;}
  .detail-item{padding: 0 30px;}
  .detail-item .detail-item-box{margin-top:-35px;}
  .detail-item>div{padding-top: 50px;position: relative;margin-top:-35px;}
  .detail-item>div:first-child{margin-top:-30px;}
  .detail-item .detail-item-box:last-child .detail-item-con{padding-bottom: 0;}
}
@media (min-width: 992px){
  .visa-detail-mod .detail-nav.affix ul {width: 66.66666667%;margin-left: 16.66666667%;padding-left: 20px;padding-right: 20px;}
}
@media (min-width: 1200px){
  .visa-detail-mod .detail-nav.affix ul {width: 50%;margin-left: 25%;padding-left: 20px;padding-right: 20px;}
}
.detail-item .detail-item-box .detail-item-con{margin-left:-20px;margin-right: -20px;padding:0 20px;background-color: #fff;}
.detail-item-box .visa-detail-title{padding: 20px 0;font-size: 20px;margin: 0}
.detail-item-box .visa-detail-title.hidden-xs{display: none;}
.detail-item-box small{color: #999;}
.detail-item-box small em{font-style: normal;color: #FC6E50}
@media (min-width:768px){
  .detail-item .detail-item-box .detail-item-con{margin-left:-30px;margin-right: -30px;padding:30px;border-radius:0 0 5px 5px;border-top: 1px solid #E6E9ED}
  .detail-item-box .visa-detail-title.hidden-xs{display: block;}
  .detail-item-box .visa-detail-title small{font-size: 14px;font-weight: normal;}
}
/*旅客身份对应的资料*/
.nav-tabs-slider{margin-left: -20px;margin-right: -20px;border-bottom: 1px solid #E6E9ED;}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1;width: 100%;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.gallery-thumbs {box-sizing: border-box;}
.gallery-thumbs .swiper-slide {-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;position:relative;width: 24%;text-align: center;padding: 8px 0;}
.gallery-thumbs .swiper-slide a{display: block;border-radius: 6px;}
.gallery-thumbs .swiper-slide-active{border-bottom:2px solid #5369E3;}
.gallery-thumbs .swiper-slide-active a{color: #5369E3;}
.gallery-thumbs .swiper-slide-active .iconfont{color: #5369E3!important;}
.gallery-thumbs .swiper-slide span{display: block;}
.gallery-thumbs .swiper-slide .iconfont{display: inline-block;margin: 0 auto;font-size: 120%!important;color: #AAB2BD;}
/**/
/*.gallery-thumbs .swiper-slide-active:after, .gallery-thumbs .swiper-slide-active:before{border: 8px solid transparent;border-top: 8px solid #fff;width: 0;height: 0;position: absolute;z-index: 10;content: ' ';left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);
  top: 64px;}
.gallery-thumbs .swiper-slide-active:before {border-top-color: #FC6E50;top: 65px;}*/
@media (min-width:768px){
  .nav-tabs-slider{margin-left: 0;margin-right: 0;border-bottom: 0;border-radius: 10px;}
  .swiper-wrapper{display: table;transform: translate3d(0px, 0px, 0px)!important;}
  .gallery-thumbs .swiper-slide{display: table-cell;width: 1%;float:none;padding: 20px 1px!important;}
  .gallery-thumbs .swiper-slide a{padding: 10px 0;width: 100%;background-color: #f5f5f5;}
  .gallery-thumbs .swiper-slide-active {font-size:100%;border-bottom: none;}
  .gallery-thumbs .swiper-slide-active a{background-color: #AAB2BD;color: #fff;}
  .gallery-thumbs .swiper-slide-active .iconfont{color: #fff!important;}
}

.tab-identity .info-title{position:relative;display:inline-block;margin: 20px 0 10px;font-size: 18px;font-weight: bold;}
.file-name-list{padding-left:0px;padding-top: 20px;}
.file-name-list li{position:relative;float:left;list-style:none;line-height: 1.6;width:100%;border-bottom: 1px solid #E6E9ED;padding:8px 0 8px 10px;}
.file-name-list li .star{position: absolute;left: 0;top: 10px;}
.info-content-tips{padding-top:15px;}
.info-content-tips em{font-style: normal;color: #FC6E50;}
.btn-send{background-color: transparent;border: 1px solid #FC6E50;color: #FC6E50;margin: 20px 0;}
.btn-send:hover{background-color: #FC6E50;color: #fff;}
@media (min-width:768px){
  .info-content .star{position: absolute;left: 0;top: 22px;}
  .file-name-list{padding-top: 0px;}
  .file-name-list li{width:50%;}
}
/*签证基本信息*/
.visa-info-con{padding-bottom: 10px;font-size:16px;line-height: 1.8}
.visa-info-con dt{font-size: 18px;margin-top: 15px;margin-bottom: 10px;}
.visa-info-con dd{color: #444;padding: 10px 0;}
.visa-info-con ul{padding-left: 18px;}
.visa-info-con ul li{padding: 5px 0;}
.visa-info-con img{max-width: 100% !important;}
/*签证办理流程*/
.visa-process{padding-bottom: 10px;}
.visa-process .visa-process-list{position:relative;padding-left: 30px;}
.visa-process .visa-process-list:before{position: absolute;z-index: 10;border-left: 1px solid #E6E9ED;bottom: 0;content: "";left: 10px;}
.visa-process .visa-process-list:first-of-type:before {top: 0;}
.visa-process .visa-process-list:last-of-type:before {bottom: 50px;}
.visa-process .visa-process-list dt{position: relative;font-size: 16px;font-weight: normal;margin-bottom: 5px;}
.visa-process .visa-process-list dd{margin-bottom: 25px;color: #656D78}
.visa-process .visa-process-list dt .number{position: absolute;top: 2px;left:-30px;z-index: 100;width:20px;height:20px;background-color: #5369E3;color: #fff;font-size: 14px;border-radius: 100%;text-align: center;}

.visa-example{text-align: center;padding-bottom: 30px;}


/*分享入口*/
.share-item{}
.share-box{display: none;}
.visa-enter-box{position: fixed;bottom: 0;z-index: 98;width: 100%;height:74px;background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.60) 50%);}
.visa-user-enter, .visa-service-enter, .visa-share-enter, .visa-home-enter{position: fixed;bottom:15px;z-index: 1026;width: 44px;padding:4px 0 5px;background-color: #fff;border-radius: 100px;text-align:center;line-height:1.2;box-shadow: 0 0 30px 0 rgba(0,0,0,.3);font-size:10px;}
.visa-user-enter{right: 15px;}
.visa-service-enter{left: 15px;}
.visa-home-enter{left: 15px;}
.visa-share-enter{right:15px;bottom:70px;}
.share-item .iconfont{font-size: 18px!important;color: #5369E3;}
.share-item span{display: block;}
.visa-enter-bottom{display: none;}
@media (min-width:768px){
  .share-item{position: fixed;bottom:0;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);z-index: 1024;}
  .visa-user-enter{right: -225px;bottom:13px;}
  .visa-home-enter{left: -225px;bottom:13px;}
  .visa-enter-bottom{display:block;position:fixed;left:0;bottom:0;z-index: 1022;width:100%;height:80px;background-color: #fff;border-top: .5px solid rgba(0,0,0,0.1);}
  /*.visa-user-enter, .visa-service-enter, .visa-share-enter, .visa-home-enter{position: relative;}*/
}