/*底部咨询入口*/
.mod-scroll-kf{position:fixed;bottom:24px;right:24px;z-index:1024;text-align:center;color:#fff;padding:10px 16px;/* Rectangle 2: */
background-image: linear-gradient(90deg, #9143FF 0%, #3D2DD7 100%);
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15);
border-radius: 50px;}
.mod-scroll-kf:hover,.mod-scroll-kf:focus{color:#fff;}
/*底部模态框*/
.modal.fade .modal-dialog.modal-bottom{position:absolute;width:100%;top:100%;transform: translate(0, -100%);margin:0;box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.10);}
.modal.fade .modal-dialog.modal-bottom .modal-content{border:0;border-radius:0;}
.modal-bottom .modal-body{padding:0;}
.service-header .icon-tegong{font-size:48px;color:#FFE352;}
.service-mod .service-item{padding:15px 0;text-align:center;border-bottom:1px solid #E6E9ED;font-size:16px;}
.service-mod .service-item a{display:block;width:100%;}
.service-mod .service-item a.primary{color:#5369E3;}
.service-mod .service-item .icon-kefu1{font-size:18px;margin-righ t:10px;}
.service-mod .service-item .service-tel{display:block;font-size:140%;font-weight:bold;}
.service-item{padding:15px 0;text-align:center;font-size:16px;}
.service-item .fa,.service-item .iconfont{margin-right:10px;}
.service-callback .service-detal .form-group{border-bottom:1px solid #E6E9ED;margin-bottom:0;}
.service-callback .form-control{height:50px;border-radius:0;border-width:1px 0 0 0;border-color:#E6E9ED;box-shadow:none;}
.service-callback .service-detal .input-group{width:100%;}
.service-callback .input-group-addon{border-radius:0;border-width:1px 0 0 0;color:#656D78;border-color:#E6E9ED;}
.service-callback .service-detal .btn{border-radius:0;background-color:#fff;border:0;height:50px;color:#5369E3;font-size:16px;font-weight:bold}
.service-wechat .service-item{border-bottom:1px solid #E6E9ED;margin-bottom:15px;}
.service-wechat .service-detal{font-size:12px;color:#AAB2BD;}
.service-wechat .service-detal img{width:100px;height:100px;margin-bottom:15px;}


@media (min-width:768px){
  /*导航*/
  .navbar-right{border-top:none;padding-top:0;}
/* 顶部图片毛玻璃 */
  .mx-thumb-blur{
      -webkit-filter: blur(5px); /* Chrome, Opera */
         -moz-filter: blur(5px);
          -ms-filter: blur(5px);
              filter: blur(5px);
  }

  /*底部咨询入口*/
  .mod-scroll-kf{position:fixed;bottom:24px;right:24px;z-index:1024;text-align:center;color:#fff;padding:15px;/* Rectangle 2: */
  background-image: -webkit-linear-gradient(left, #9143FF 0%, #3D2DD7 100%);
  background-image: -o-linear-gradient(left, #9143FF 0%, #3D2DD7 100%);
  background-image: linear-gradient(to right, #9143FF 0%, #3D2DD7 100%);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.15);
  border-radius: 10px;font-size:16px;}
  .mod-scroll-kf .icon-kefu1{font-size:220%;display:block}
  /*咨询模态框*/
  .modal.fade .modal-dialog.modal-bottom{display:-ms-flexbox;display:flex;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction: column;
    position: fixed;top: 0;bottom: 0;right: -32rem;width: 32rem;
    background-color: #fff;box-shadow: -6px 0 20px 0 rgba(0,0,0,.10);z-index: 1001;
    transform: translateZ(0);-webkit-transform: translateZ(0);
  }
  .modal.fade .modal-dialog.modal-bottom .modal-content{display: -ms-flexbox;display: flex;-moz-flex-direction: column;-ms-flex-direction: column;flex-direction: column;
    position: fixed;top: 0;right:0;left:0;bottom: 0;
  }
  .modal.fade .modal-dialog.modal-bottom .modal-header{-moz-flex-grow: 0;-ms-flex-positive: 0;flex-grow: 0;overflow-y:scroll;}
  .modal.fade .modal-dialog.modal-bottom .modal-body{-moz-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;padding:0;overflow-y:scroll;}
  .modal.fade .modal-dialog.modal-bottom .modal-footer{-moz-flex-grow: 0;-ms-flex-positive: 0;flex-grow: 0;}
  .service-header .icon-tegong{font-size:58px;color:#FFE352;}
  .modal.fade .modal-dialog.modal-bottom .modal-footer .close{/*font-size:300%;*/opacity: .5;}
  .modal.fade.in .modal-dialog.modal-bottom{right:0;}
  .modal.fade .modal-dialog.modal-bottom .modal-content{border:0;border-radius:0;}

  
  .service-item .fa,.service-item .iconfont{display:block;margin-right:0;margin-bottom:5px;}
  .service-mod .service-item{padding:30px 0;}
  .service-callback .service-item{padding:30px 0 15px;}
  .service-callback .service-detal .form-inline{padding:0 15px;}
  .service-callback .service-detal .form-group{text-align: center;border-bottom:0;}
  .service-callback .form-control{border-width:1px 1px 0 0;}
  .service-callback .input-group-addon{border-width:1px 0 0 1px;font-size:14px;height:50px;}
  .service-callback .service-detal .btn{border:1px solid #E6E9ED;color:#656D78;font-weight:normal;}
  .service-wechat .service-item{padding:30px 0 0;border-top:1px solid #E6E9ED;border-bottom:0;margin-top:30px;margin-bottom:0;}


}